<!--Footer-->
<head>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
</head>
<footer class="temple-footer">
<div class="container">
<div class="row footer-top">
<!-- Temple Info -->
<div class="col-md-4">
<div class="footer-brand">
<img src="images/logo.png" class="footer-logo">
<h4>Bijasan Mata Mandir</h4>
<p>Sendhwa, Madhya Pradesh</p>
</div>
</div>
<!-- Quick Links -->
<div class="col-md-4">
<h5>Quick Links</h5>
<ul class="footer-links">
<li><a href="about.html">About Temple</a></li>
<li><a href="timing.html">Temple Timings</a></li>
<li><a href="events.html">Events</a></li>
<li><a href="contact.html">Contact Us</a></li>
</ul>
</div>
<!-- Contact Info -->
<div class="col-md-4">
<h5>Visit Us</h5>
<p> Maa Badi Bijasan Mata Mandir<br>
AB road, Sendhwa, Near MP-MH Border Madhya Pradesh</p>
<h6>Contact Number</h6>
<p>+91 909007199 , +91 8989087815</p>
</div>
</div>
<hr>
<!-- Social Icons -->
<div class="footer-social text-center">
<a href="https://www.facebook.com/bijasantemple" target="_blank"><i class="bi bi-facebook"></i></a>
<a href="https://www.instagram.com/badi_bijasan_mata_mandir?igsh=MTIwZmZ3bjd4bHUwaQ==" target="_blank"><i class="bi bi-instagram"></i></a>
<a href="#"><i class="bi bi-youtube"></i></a>
</div>
<p class="text-center copyright">
© 2026 Bijasan Mata Mandir. All Rights Reserved.
</p>
</div>
</footer>