.about-hero{

height:320px;
background:url("../images/temple1.jpg") center/cover no-repeat;
display:flex;
align-items:center;
justify-content:center;
position:relative;

}

.hero-overlay-box{

background:rgba(255,255,255,0.9);
padding:25px 40px;
border-radius:12px;
text-align:center;

}

.about-intro{
margin-top:80px;
margin-bottom:80px;
}

.history-section{
background:#f9f3e6;
padding:70px 0;
}

.significance-section{
margin-top:80px;
}

.info-box{

background:white;
padding:25px;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
text-align:center;

}

.temple-gallery{

margin-top:80px;
margin-bottom:80px;

}

.gallery-img{

width:100%;
height:250px;
object-fit:cover;
border-radius:10px;

}